.table {
	&__container {
		overflow-x: auto;
		white-space: nowrap;

		/* table {
			width: 100%;
		} */
	}

	/* Javascript-only progressive enhancements. */
	.js & {
		&__container {
			thead {
				th {
					border: 0;
					clip: rect(1px, 1px, 1px, 1px);
					clip-path: inset(50%);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
					word-wrap: normal;

					@include mq-600 {
						border: 0;
						clip: auto;
						clip-path: none;
						height: auto;
						margin: 0;
						overflow: visible;
						padding: 0.25em 0.5em;
						position: static;
						width: auto;
						word-wrap: normal;

						&:first-child {
							padding-left: 0;
						}

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			tbody {
				th,
				td {
					display: block;
					padding: 0.25em 0;

					@include mq-600 {
						display: table-cell;
						padding: 0.25em 0.5em;
					}

					&::before {
						content: attr(data-th);
						display: inline-block;
						font-weight: 700;
						vertical-align: baseline;
						width: var(--data-th-width, auto);

						@include mq-600 {
							display: none;
						}
					}

					&:first-child {
						@include mq-600 {
							padding-left: 0;
						}
					}

					&:last-child {
						@include mq-600 {
							padding-right: 0;
						}
					}
				}

				:not(:first-child) {
					th,
					td {
						&:first-child {
							padding-top: 1.5em;

							@include mq-600 {
								padding-top: 0.25em;
							}
						}
					}
				}
			}
		}
	}
}
