.colophon {
	border-top: 0.25em solid black;
	padding: 1rem;
	text-align: center;

	@media screen and (min-width: 30em) {
		text-align: left;
	}

	@media screen and (min-width: 37.5em) {
		padding: 2rem;
	}

	@media print {
		border-color: gray;
		border-width: 0.125em;
		color: gray;
		padding: 0.5rem 0 0;
		text-align: left;
	}
}
