.navigation {

	@media print {
		display: none;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		list-style: none;
		padding-left: 0;
	}

	&__link {
		font-weight: 700;
		padding: 0.5rem;
		text-underline-offset: 0.125rem;
		text-decoration-thickness: 0.125rem;

		&:link,
		&:visited {
			color: black;
			text-decoration-color: blue;
		}

		&:hover,
		&:focus {
			color: darkblue;
			text-decoration-color: darkblue;
		}

		&:active {
			color: navy;
			text-decoration-color: navy;
		}
	}
}
