/* White */
$white: hsl(0, 0%, 100%);
$white-100: hsl(0, 0%, 99%);
$white-200: hsl(0, 0%, 98%);
$white-300: hsl(0, 0%, 97%);
$white-400: hsl(0, 0%, 96%);
$white-500: hsl(0, 0%, 95%);
$white-600: hsl(0, 0%, 94%);
$white-700: hsl(0, 0%, 93%);
$white-800: hsl(0, 0%, 92%);
$white-900: hsl(0, 0%, 91%);
$body-color: $white-900;
$body-background-color-light: $white-900;

/* Gray */
$gray-100: hsl(0, 0%, 90%);
$gray-200: hsl(0, 0%, 80%);
$gray-300: hsl(0, 0%, 70%);
$gray-400: hsl(0, 0%, 60%);
$gray-500: hsl(0, 0%, 50%);
$gray-600: hsl(0, 0%, 40%);
$gray-700: hsl(0, 0%, 30%);
$gray-800: hsl(0, 0%, 20%);
$gray-900: hsl(0, 0%, 10%);
$body-color-light: $gray-900;

/* Black */
$black-100: hsl(0, 0%, 9%);
$black-200: hsl(0, 0%, 8%);
$black-300: hsl(0, 0%, 7%);
$black-400: hsl(0, 0%, 6%);
$black-500: hsl(0, 0%, 5%);
$black-600: hsl(0, 0%, 4%);
$black-700: hsl(0, 0%, 3%);
$black-800: hsl(0, 0%, 2%);
$black-900: hsl(0, 0%, 1%);
$black: hsl(0, 0%, 0%);

/* Blue */
$blue-100: hsl(210, 100%, 90%);
$blue-200: hsl(210, 100%, 80%);
$blue-300: hsl(210, 100%, 70%);
$headline-color: $blue-300;
$monogram-second-color: $blue-300;
$blue-400: hsl(210, 100%, 60%);
$monogram-second-color-light: $blue-400;
$blue-500: hsl(210, 100%, 50%);
$monogram-first-color: $blue-500;
$link-color: $blue-500;
$blue-550: hsl(210, 100%, 45%);
$blue-600: hsl(210, 100%, 40%);
$link-color-light: $blue-600;
$monogram-first-color-light: $blue-600;
$blue-700: hsl(210, 100%, 30%);
$blue-800: hsl(210, 100%, 20%);
$blue-900: hsl(210, 100%, 10%);

/* Blue Gray */
$blue-gray-700: hsl(210, 70%, 30%);
$headline-color-light: $blue-gray-700;
$blue-gray-900: hsl(210, 50%, 10%);
$body-background-color: $blue-gray-900;
