/* White */
$white: hsl(0, 0%, 100%);
$white-100: hsl(0, 0%, 99%);
$white-200: hsl(0, 0%, 98%);
$white-300: hsl(0, 0%, 97%);
$white-400: hsl(0, 0%, 96%);
$white-500: hsl(0, 0%, 95%);
$white-600: hsl(0, 0%, 94%);
$white-700: hsl(0, 0%, 93%);
$white-800: hsl(0, 0%, 92%);
$white-900: hsl(0, 0%, 91%);

/* Gray */
$gray-100: hsl(0, 0%, 90%);
$gray-200: hsl(0, 0%, 80%);
$gray-300: hsl(0, 0%, 70%);
$gray-400: hsl(0, 0%, 60%);
$gray-500: hsl(0, 0%, 50%);
$gray: $gray-500;
$gray-600: hsl(0, 0%, 40%);
$gray-700: hsl(0, 0%, 30%);
$gray-800: hsl(0, 0%, 20%);
$gray-900: hsl(0, 0%, 10%);

/* Black */
$black-100: hsl(0, 0%, 9%);
$black-200: hsl(0, 0%, 8%);
$black-300: hsl(0, 0%, 7%);
$black-400: hsl(0, 0%, 6%);
$black-500: hsl(0, 0%, 5%);
$black-600: hsl(0, 0%, 4%);
$black-700: hsl(0, 0%, 3%);
$black-800: hsl(0, 0%, 2%);
$black-900: hsl(0, 0%, 1%);
$black: hsl(0, 0%, 0%);

/* Blue */
$blue-100: hsl(210, 100%, 90%);
$blue-200: hsl(210, 100%, 80%);
$blue-300: hsl(210, 100%, 70%);
$blue-400: hsl(210, 100%, 60%);
$blue-500: hsl(210, 100%, 50%);
$blue: $blue-500;
$blue-550: hsl(210, 100%, 45%);
$blue-600: hsl(210, 100%, 40%);
$blue-700: hsl(210, 100%, 30%);
$blue-800: hsl(210, 100%, 20%);
$blue-900: hsl(210, 100%, 10%);

/* Blue Gray */
$blue-gray-700: hsl(210, 70%, 30%);
$blue-gray-900: hsl(210, 50%, 10%);

/* Dracula theme */
$dracula-background: hsl(231, 15%, 18%);
$dracula-current-line: hsl(232, 14%, 31%);
$dracula-selection: hsl(232, 14%, 31%);
$dracula-foreground: hsl(60, 30%, 96%);
$dracula-comment: hsl(225, 27%, 51%);
$dracula-cyan: hsl(191, 97%, 77%);
$dracula-green: hsl(135, 94%, 65%);
$dracula-orange: hsl(31, 100%, 71%);
$dracula-pink: hsl(326, 100%, 74%);
$dracula-purple: hsl(265, 89%, 78%);
$dracula-red: hsl(0, 100%, 67%);
$dracula-yellow: hsl(65, 92%, 76%);

$green: $dracula-green;
$red: $dracula-red;

/* Dark mode */
$body-background-color: $blue-gray-900;
$body-color: $white-900;
$headline-color: $blue-300;
$link-color: $blue-500;
$link-hover-color: $blue-600;
$monogram-first-color: $blue-500;
$monogram-second-color: $blue-300;

/* Light mode */
$body-background-color-light-mode: $white-900;
$body-color-light-mode: $gray-900;
$headline-color-light-mode: $blue-gray-700;
$link-color-light-mode: $blue-600;
$link-hover-color-light-mode: $blue-500;
$monogram-first-color-light-mode: $blue-600;
$monogram-second-color-light-mode: $blue-400;
