  <head>
    <title>{{ site.title }}</title>
    {%- if env.isProduction %}
    <link rel="stylesheet" href="/css/bundle.min.css">
    {%- else %}
    <link rel="stylesheet" href="/css/bundle.css">
    {%- endif %}
  </head>
