    <header class="masthead">
      {%- if slug == '.' %}
      <h1 class="masthead__title">{{ masthead.title }}</h1>
      {%- else %}
      <p class="masthead__title">{{ masthead.title }}</p>
      {%- endif %}
    </header>
