<a class="monogram__link" href="/">
	<abbr class="monogram" title="{{ monogram.title }}">
		{% for letter in monogram.letters %}
		<span class="monogram__letter" data-monogram-letter="{{ letter }}"></span>
		{% endfor %}
	</abbr>
</a>
