<abbr class="monogram" title="{{ monogram.title }}" aria-hidden="true">
	{% for letter in monogram.letters %}
	<span class="monogram__letter" data-monogram-letter="{{ letter }}"></span>
	{% endfor %}
</abbr>
