.content {
	padding: 1rem;

	@media screen and (min-width: 37.5em) {
		padding: 2rem;
	}

	@media print {
		padding: 1rem 0;
	}

	&__header {
		margin-bottom: 2rem;
	}

	&__title {
		font-size: 2em;
		font-weight: 700;
		margin-bottom: 0.5em;
	}

	&__summary {
		font-size: 1.25em;
	}
}
