.resume {
	display: grid;
	gap: 4em;
	grid-template-areas:
		"experience"
		"skills"
		"education";

	/* todo: Fix print layout */

	@media screen and (min-width: 55em) {
		grid-template-areas:
			"experience experience"
			"education skills";
		grid-template-columns: auto 1fr;
	}

	@media screen and (min-width: 75em) {
		grid-template-areas:
			"experience skills"
			"education skills";
	}

	&__title {
		font-size: 1.5em;
		font-weight: 700;
		margin-bottom: 1em;
	}

	&__experience {
		grid-area: experience;

		&-list {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 2em;
			list-style: none;
			padding-left: 0;
		}

		&-list + &-cta {
			margin-top: 2rem;
		}

		&-item {
			display: grid;
			grid-template-areas:
				"duration duration"
				"position position"
				". description"
				". accomplishments";
			grid-template-columns: 1em 1fr;

			@media screen and (min-width: 37.5em) {
				grid-template-areas:
					"duration position"
					". description"
					". accomplishments";
				grid-template-columns: 8em 1fr;
			}
		}

		&-duration {
			font-size: 0.875em;
			grid-area: duration;
		}

		&-position {
			grid-area: position;
		}

		&-role {
			display: block;
			font-weight: 700;

			@media screen and (min-width: 37.5em) {
				display: inline;
			}

			&::after {
				@media screen and (min-width: 37.5em) {
					content: '@';
					font-weight: 400;
					margin-left: 0.25em;
				}
			}
		}

		&-employer {
			white-space: nowrap;
		}

		&-description {
			grid-area: description;
			margin: 0.75em 0;
		}

		&-accomplishment {

			&s {
				grid-area: accomplishments;
				list-style-type: disc;
				padding-left: 1em;

				& & {
					list-style-type: circle;
				}
			}
		}
	}

	&__skills {
		grid-area: skills;

		&-list {
			display: grid;
			gap: 2em;
			list-style: none;
			padding-left: 0;
		}

		&-item {
			font-weight: 700;
		}
	}

	&__tools {

		&-list {
			font-weight: 400;
			list-style-type: disc;
			padding-left: 1em;
		}
	}

	&__education {
		grid-area: education;
	}
}
