---
layout: main
---
<article class="article pad-x">
	{%- if title %}
	<header class="article__header">
		<h1 class="article__title">{{ title }}</h1>
	</header>
	{%- endif %}
	{{ content }}
</article>
