<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
{% include meta/head %}
  <body class="site">
    {% include components/masthead %}
    <main>
      {{ content }}
    </main>
    {% include components/colophon %}
  </body>
</html>
