<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
{% include meta/head %}
  <body class="site">
    {% include components/masthead %}
    <main>
    	<div style="color: red;">
      {{ content }}
      </div>
    </main>
    {% include components/colophon %}
    {% include meta/scripts %}
  </body>
</html>
