a {
	text-decoration: underline solid $link-color;
	text-decoration-color: $link-color;
	text-decoration-line: underline;
	text-decoration-style: solid;
	transition: color 200ms ease;

	&:link {
		color: currentColor;
	}

	&:visited {
		color: currentColor;
	}

	&:hover,
	&:focus {
		color: $link-color;
	}

	&:active {
		color: $blue-500;
	}
}
