---
layout: scaffold
---
{% render 'components/masthead', site: site, navigation: navigation %}
<main class="content" aria-labelledby="content-title">
	{% if page_title or title %}
	<header class="content__header">
		{%- if page.url == '/' %}
		<h2 class="content__title" id="content-title">{{ page_title | default: title | strip | strip_html }}</h2>
		{%- else %}
		<h1 class="content__title" id="content-title">{{ page_title | default: title | strip | strip_html }}</h1>
		{%- endif %}

		<p class="content__summary">{{ description }}</p>
	</header>
	{% endif %}

	{{ content }}
</main>
{% render 'components/colophon', site: site %}
