<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ seo_title | default: title | strip | strip_html | truncate: 40 }}</title>
	<meta name="description" content="{{ description | default: content | strip | strip_html | truncate: 115 }}">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body class="layout layout_{{ content_type }}">
	{{ content }}

	<script defer src="./js/main.js" type="module"></script>
	<script defer src="./js/main-legacy.js" nomodule></script>
</body>
</html>
