<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
</head>
<body>
	{{ content }}

	<script defer src="./js/main.js" type="module"></script>
	<script defer src="./js/main-legacy.js" nomodule></script>
</body>
</html>
