{%- if site.title %}
	<div class="branding">
		{%- if page.url == '/' %}<h1 class="branding__title" id="branding-title">
		{%- else %}<p class="branding__title" id="branding-title">
		{%- endif %}
			<a class="branding__link" href="/">
				{{ site.title | strip | strip_html }}
			</a>
		{%- if page.url == '/' %}</h1>
		{%- else %}</p>
		{%- endif %}
		{%- if site.pronouns %}
			<span class="branding__pronouns">({{ site.pronouns | join: '/' }})</span>
		{%- endif %}
		{%- if site.tagline %}
			<span class="branding__tagline">{{ site.tagline }}</span>
		{%- endif %}
	</div>
{%- endif %}
